@* @{
    ViewData["Title"] = "Login";
}

<form method="post" class="col-4 mt-5">
    <!-- Email -->
    <div class="form-group mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" required />
    </div>

    <!-- Password -->
    <div class="form-group mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" required />
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <button type="submit" class="btn btn-primary w-100">Login</button>
</form> *@
